#container
{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 100px minmax(200px, 1fr) 100px;
    grid-gap: 10px;
}

header
{
    grid-column-start: 1;
    grid-column-end: 3;
}

main
{
    grid-row-start: 2;
    grid-row-end: 4;
}
aside, footer
{
    grid-column-start: 2;
    grid-column-end: 3;
}

